:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover:not(.active) {
  color: #535bf2;
}

.active {
  color: #858585;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
}

.github-link {
  position: fixed;
  top: 2rem;
  left: 2rem;
  color: #E3E3E3 !important;
  font-size: 0.9rem;
}

.github-link:hover {
  color: #A5A0FF !important;
}

/* redux store */
.counter {
  color: #646cff !important;
  font-weight: bold;
  user-select: none;
}

.auth-container {
  display: flex;
  place-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
}

.auth-success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.auth-success-title {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.auth-success-title>svg {
  font-size: 1.8rem;
}

.quotes-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.quotes {
  font-style: italic;
  color: #E3E3E3;
}

.modal {
  width: 25rem;
}

.input-modal {
  width: 100%;
  height: 3.5rem;
  padding-left: 3rem;
  font-size: 1.2rem;
  margin-right: -2rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  background-color: #313136;
  color: #A1A1A9;
}

.input-modal::placeholder {
  color: #A1A1A9;
}

.search-icon-modal {
  font-size: 1.5rem;
  color: #A1A1A9;
  padding-left: 0.4rem;
  width: 2.5rem;
  margin-right: -2.5rem;
  z-index: 1;
}

.not-modal-container:focus {
  outline: none !important;
}

.not-modal-container:hover>svg {
  fill: #fff !important;
  transition: all 0.2s ease-in;
}

.not-modal-icon {
  font-size: 1.1rem;
  fill: #96969D !important;
  padding-left: 0.4rem;
  width: 2.5rem;
  margin-right: -2.5rem;
  z-index: 1;
  pointer-events: none;
}

.not-modal-icon:not(:hover) {
  transition: all 0.2s ease-out;
}

.not-modal-field {
  width: 100%;
  height: 2.6rem;
  padding-left: 2.5rem;
  font-size: 0.9rem;
  margin-right: -2rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #161618;
  color: #96969D;
  cursor: pointer;
  outline: 1px solid transparent;
}

.not-modal-field::placeholder {
  color: #DEDED6;
  transition: all 0.2s ease-in;
}

.not-modal-field:not(:hover)::placeholder {
  color: #96969D;
  transition: all 0.2s ease-out;
}

.not-modal-field:hover {
  outline: 1px solid #75A99C;
  transition: all 0.2s ease-in;
}

.not-modal-field:not(:hover) {
  transition: all 0.2s ease-out;
}

.hot-modal-key {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  color: #96969D;
  padding: 0.07rem 0.4rem;
  margin-right: -1.5rem;
  margin-left: -1.2rem;
  font-size: 0.9rem;
  z-index: 1;
  border: 1px solid #29292D;
  border-radius: 0.3rem;
  pointer-events: none;
}

.language-switcher {
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 0.3rem;
  color: #E3E3E3;
  font-size: 0.9rem;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.language-switcher:hover {
  color: #A5A0FF !important;
}

.search-engine-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  gap: 0.5rem;
}

.link-container {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 1rem;
  gap: 0.6rem;
}

.form-valid {
  background-color: #535bf265 !important;
}

.inactive {
  color: #AEBAC8 !important;
  opacity: 0.8;
}

.increaser:active {
  background-color: #535bf2 !important;
}

.my-lowercase {
  text-transform: lowercase;
  font-size: 1rem;
}

.my-lowercase::first-letter {
  text-transform: capitalize;
}

.form-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #D32F2F;
  font-size: 0.9rem;
  animation: error 0.8s ease-in infinite;
}

.error {
  animation: error 0.8s ease-in infinite;
  color: #FF8081;
}

@keyframes error {
  0% {
    color: #FF8081;
  }

  100% {
    color: #a23b3b;
  }
}

.page-description {
  text-align: center;
}

.hint-account-data {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: yellowgreen;
  font-style: italic;
}

.my-input {
  background-color: #3B3B3B;
  color: white !important;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
}

.my-input:placeholder-shown {
  color: white !important;
}

.my-input:hover {
  color: white !important;
  background-color: #424242;
}

/* game fight */
.hero1 {
  background-image: url('./assets/images/hero.webp');
  background-size: auto;
  background-repeat: no-repeat;
  background-position-y: 40%;
  transform: scaleX(1);
}

.hero2 {
  background-image: url('./assets/images//hero.webp');
  background-size: auto;
  background-repeat: no-repeat;
  background-position-y: 40%;
  filter: hue-rotate(240deg);
  transform: scaleX(-1);
}

@media (max-width: 480px) {
  .github-link {
    display: none;
  }

  .language-switcher {
    display: none;
  }

  .me {
    display: none;
  }

  .company {
    display: none;
  }

  .modal {
    width: calc(100% - 5rem);
  }
}